<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/www/layout/base}"
>

<div layout:fragment="MainBase">
    <!-- Contenido principal -->
    <div class="container mt-4">
         
        <section id="servicios">
            <h2 class="mb-4 text-center">Listado de Gamas</h2>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Gama</th>
                            <th>Descripción</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr th:each="gama : ${Lgamas}">
                            <td>
                                <a th:href="@{/gamas/{id}(id=${gama.gamaid})}" class="text-primary fw-bold">
                                    <span th:text="${gama.gamaid}"></span>
                                </a>
                            </td>
                            <td th:text="${gama.descripcionTexto}"></td>
                            <td> <!-- Aquí puedes poner una imagen si la tienes --> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
