<!-- Fragmento de Thymeleaf para el encabezado -->
<header th:fragment="headerBase">
    <nav class="navbar navbar-expand-lg" style="background-color: #b57f02;">
        <div class="container-fluid">
            <a class="navbar-brand text-dark" href="#">Panadería</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/productos}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/categorias}">Categoría</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
