<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        layout:decorate="~{admin/layout/base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
</head>
<body>
    <!-- Contenido específico para esta página -->
    <div layout:fragment="mainBase">
        <div class="container mt-4">
            <h3>Bienvenido al Panel de Administración</h3>
            <p>Aquí puedes gestionar tus gamas de productos y más.</p>
        </div>
    </div>
</body>
</html>