<header th:fragment="headerbase">
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Administración</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/admin/gamas"><i class="bi bi-list"></i> Gamas</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/productos"><i class="bi bi-box"></i> Productos</a></li>
          <li class="nav-item"><a class="nav-link text-danger" href="/"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
