<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/www/layout/base}">
<head>
    <title>Inicio</title>
</head>
<body>
<div layout:fragment="MainBase">
    <!-- Imagen de fondo -->
    <div class="bg-image" th:style="'background-image: url(' + @{/img/fotopan.jpg} + ');'">
        <div class="content">
            <h1>Bienvenido a nuestra Panadería</h1>
            <p>Descubre los mejores productos de panadería.</p>
        </div>
    </div>

    <!-- Contenido adicional de la página de inicio -->
    <section>
        <h2>Nuestros Productos</h2>
        <p>Explora nuestra variedad de panes y pasteles.</p>
    </section>
</div>
</body>
</html>
