<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/www/layout/base}">

<head>
    <title>Inicio</title>
</head>

<body>
    <div layout:fragment="MainBase">
        <!-- Imagen de fondo -->
        <div class="bg-image" th:style="'background-image: url(' + @{/img/fotopan.jpg} + ');'">
            <div class="content">
                <h1>Bienvenido a nuestra Panadería</h1>
                <p>Descubre los mejores productos de panadería.</p>
            </div>
        </div>

        <!-- Contenido adicional de la página de inicio -->
        <section>
            <h2 style="text-align: center; margin-top: 10px;">Nuestros productos</h2>
            <p style="text-align: center; margin-top: 10px;">Descubre una amplia variedad de productos de panadería
                frescos y deliciosos.</p>
            <!-- Page Content -->
            <div class="container mt-5">

                <!-- First Photo Grid-->
                <div class="row row-cols-1 row-cols-md-4 g-4 text-center" id="food">
                    <div class="col">
                        <img th:src="@{/img/productos/dulces/dulce4.jpeg}" alt="Dulces" class="img-fluid">
                        <h3>Dulces</h3>
                        <p>Deliciosos dulces para satisfacer tu antojo.</p>
                    </div>
                    <div class="col">
                        <img th:src="@{/img/productos/pan/pan48.jpeg}" alt="Pan" class="img-fluid">
                        <h3>Pan</h3>
                        <p>Pan fresco y crujiente, recién horneado.</p>
                    </div>
                    <div class="col">
                        <img th:src="@{/img/productos/salado/salado27.jpeg}" alt="Salado" class="img-fluid">
                        <h3>Salado</h3>
                        <p>Aperitivos salados para disfrutar en cualquier momento.</p>
                    </div>
                    <div class="col">
                        <img th:src="@{/img/productos/mixto/mixto43.jpeg}" alt="Mixto" class="img-fluid">
                        <h3>Mixto</h3>
                        <p>Una mezcla perfecta de sabores para cada ocasión.</p>
                    </div>
                </div>
        </section>
        <section>
            <hr>
            <!-- About Section -->
            <div class="container py-5 text-center">
                <h3 class="mb-4 display-5">Sobre nosotros</h3>
                <!-- Imagen de sobre nosotros -->
                <img th:src="@{/img/imagenbase.jpg}" alt="Me" class="img-fluid rounded mx-auto d-block"
                    style="max-width: auto; height: auto;">
                <div class="py-5">
                    <h4 class="fw-bold display-6">¡Somos quienes somos!</h4>
                    <h6 class="fst-italic display-6">Con pasión por la verdadera y buena panadería.</h6>
                    <p class="mx-auto lead" style="max-width: 600px;">
                        El aroma del pan recién horneado despierta los sentidos y envuelve cada rincón con la calidez
                        del hogar.
                        Desde el amanecer, nuestras manos trabajan con pasión para transformar ingredientes simples en
                        auténticas
                        delicias que endulzan los días y crean recuerdos inolvidables. Nuestra historia comienza con un
                        sueño: ofrecer
                        productos artesanales que combinan tradición y calidad. Cada pan, cada pastel y cada galleta que
                        sale de nuestro 
                        horno está hecho con dedicación, utilizando recetas que han pasado de generación en generación,
                        junto con un toque
                        de innovación que nos hace únicos.
                    </p>
                </div>
            </div>
            <hr>
            <section class="container py-5 text-center ubicacion">
                <h5 class="mb-4 display-6">
                    <span class="badge bg-secondary">DÓNDE ENCONTRARNOS</span>
                </h5>
                <p class="lead fs-4">Encuéntranos en alguna dirección en algún lugar.</p>
                <img src="img/calle.jpg" class="img-fluid rounded shadow ubicacion-img" alt="ubicación">
                <p class="mt-3 fs-5">
                    <span class="badge bg-info text-dark">FYI!</span>
                    Ofrecemos servicio completo de catering para cualquier evento, grande o pequeño. Entendemos tus
                    necesidades y nos aseguramos de que la comida cumpla con los criterios más exigentes, tanto en
                    apariencia como en sabor.
                </p>
            </section>

            <hr>
            <div class="container py-5 text-center">
                <div class="responsive-iframe">
                    <iframe src="https://www.youtube.com/embed/Aw73bVIv4cs?si=ZSjkk2GUoYgXu7cU"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <hr>
        </section>

    </div>
</body>

</html>