<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/admin/layout/base}">

<main layout:fragment="mainBase">
    <div class="container mt-4">
        <h4>Nuevo Producto</h4>

        <form action="/admin/productos/new" method="post" enctype="multipart/form-data">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria.id">
                <option value="1">Dulce</option>
                <option value="2">Salado</option>
                <option value="3">Mixto</option>
                <option value="4">Pan</option>
            </select>
        
            <label for="imagen">Imagen:</label>
            <input type="file" id="imagen" name="imagen" accept="image/*">
        
            <button type="submit">Guardar Producto</button>
        </form>
        
    </div>
</main>

</html>
